<div class="mx-auto px-4 pt-[6vh] container">
  <!-- Positive quote -->
  <p
    class="font-[var(--font-primary)] font-medium text-[#f1eeff] text-3xl sm:text-4xl text-center italic"
  >
    {{ quote$ | async }}
  </p>

  <!-- Add Feedback call to action -->
  <div class="flex justify-center mt-5">
    <button
      mat-button
      class="bg-primary hover:bg-primary/80 px-4 py-2 rounded-full text-white"
      [routerLink]="[!isLoggedin ? '/signin' : '/add-feedback']"
      routerLinkActive="router-link-active"
    >
      {{ !isLoggedin ? "Sign Up here!" : "Add Feedback" }}
    </button>
  </div>

  <!-- Recent reviews -->
  <div
    class="bg-primary/90 mx-auto mt-7 md:mt-10 pb-2.5 rounded-4xl w-full md:w-2/3 min-h-[10rem]"
  >
    <h1 class="p-5 text-white text-xl sm:text-2xl">Your recent feedbacks</h1>
    <!-- Feedback display list -->
    <div *ngFor="let feedback of feedbacks; index as i" class="py-1">
      <app-feedback-display [feedback]="feedback"></app-feedback-display>
    </div>
  </div>
</div>
